/* 
.carousel {
  position: relative;
 
}

.slidesContainer {
  display: flex;
  flex: 10% 40%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  transition: opacity 0.5s ease-in-out;
  display: flex;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
} */
