@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 240 10% 3.9%;                   /*#08080a*/
    --foreground: 0 0% 98%;                       /*#f9f9f9*/
    --card: 240 10% 3.9%;                         /*#08080a*/
    --card-foreground: 0 0% 98%;                  /*#f9f9f9*/
    --popover: 240 10% 3.9%;                      /*#08080a*/
    --popover-foreground: 0 0% 98%;               /*#f9f9f9*/
    --primary: 0 0% 98%;                          /*#f9f9f9*/
    --primary-foreground: 240 5.9% 10%;           /*#17171b*/
    --secondary: 240 3.7% 15.9%;                  /*#27272a*/
    --secondary-foreground: 0 0% 98%;             /*#f9f9f9*/
    --muted: 240 3.7% 15.9%;                      /*#27272a*/
    --muted-foreground: 240 5% 64.9%;             /*#a1a1a9*/
    --accent: 240 3.7% 15.9%;                     /*#27272a*/
    --accent-foreground: 0 0% 98%;                /*#f9f9f9*/
    --destructive: 0 62.8% 30.6%;                 /*#7f1d1d*/
    --destructive-foreground: 0 0% 98%;           /*#f9f9f9*/
    --border: 240 3.7% 15.9%;                     /*#27272a*/
    --input: 240 3.7% 15.9%;                      /*#27272a*/
    --ring: 240 4.9% 83.9%;                       /*#d3d3d7*/
    --inputInfoError: 357, 82%, 57%;              /*#eb3942*/
    --inputInfoSuccess: 150, 62%, 45%;            /*#2bb871*/
    --main_red: 357, 92%, 47%;                    /*#e50914*/
    --main_dark: 0, 0%, 8%;                       /*#141414*/
    --main_white_100: 60, 100%, 99%;              /*#fffff9*/
    --main_white_300: 0, 0%, 74%;                 /*#bcbcbc*/
    --main_match_color: 135, 62%, 55%;            /*#46d369*/
    --main_login_input_info_color: 32, 97%, 46%;  /*#e87c03*/

    --radius: 0.5rem;
    overflow-x: hidden;
  }
 
  .dark {
    --background: 240 10% 3.9%;                  /*#08080a*/
    --foreground: 0 0% 98%;                      /*#f9f9f9*/
    --card: 240 10% 3.9%;                        /*#08080a*/
    --card-foreground: 0 0% 98%;                 /*#f9f9f9*/
    --popover: 240 10% 3.9%;                     /*#08080a*/
    --popover-foreground: 0 0% 98%;              /*#f9f9f9*/
    --primary: 0 0% 98%;                         /*#f9f9f9*/
    --primary-foreground: 240 5.9% 10%;          /*#17171b*/
    --secondary: 240 3.7% 15.9%;                 /*#27272a*/
    --secondary-foreground: 0 0% 98%;            /*#f9f9f9*/
    --muted: 240 3.7% 15.9%;                     /*#27272a*/
    --muted-foreground: 240 5% 64.9%;            /*#a1a1a9*/
    --accent: 240 3.7% 15.9%;                    /*#27272a*/
    --accent-foreground: 0 0% 98%;               /*#f9f9f9*/
    --destructive: 0 62.8% 30.6%;                /*#7f1d1d*/
    --destructive-foreground: 0 0% 98%;          /*#f9f9f9*/
    --border: 240 3.7% 15.9%;                    /*#27272a*/
    --input: 240 3.7% 15.9%;                     /*#27272a*/
    --ring: 240 4.9% 83.9%;                      /*#d3d3d7*/
    --inputInfoError: 357, 82%, 57%;             /*#eb3942*/
    --inputInfoSuccess: 150, 62%, 45%;           /*#2bb871*/
    --main_red: 357, 92%, 47%;                   /*#e50914*/
    --main_dark: 0, 0%, 8%;                      /*#141414*/
    --main_white_100: 60, 100%, 99%;             /*#fffff9*/
    --main_white_300: 0, 0%, 74%;                /*#bcbcbc*/
    --main_match_color: 135, 62%, 55%;           /*#46d369*/
    --main_login_input_info_color: 32, 97%, 46%; /*#e87c03*/

    --radius: 0.5rem;
    overflow-x: hidden;
  }
}

 
@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }
  body {
    @apply bg-[#141414] text-foreground;
    width: 100%;
    box-sizing: border-box;
  }
 
  img, video {
    box-sizing: border-box; 
  }

  html {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }

  canvas {
    width: 100%;
    box-sizing: border-box
  }

  .padding-layout {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .no-scroll {
    overflow: hidden;
  }

  .slide-animation{
   transition: transform 0.5s ease-in-out;
  }

  /* Title */
  .title {
    position: relative;
    cursor: pointer;
  }
  .title::after {
    content: 'Explore All >';
    position: absolute;
    bottom: -5px;
    margin-left: 5px;
    font-size: 0.55em;
    font-weight: bold;
    color: #54b9c5;
    opacity: 0;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }
  .title:hover::after {
    transform: translateX(20%);
    opacity: 0.95;
  }

  /* loading animate */
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.imageWrapper {
  flex: 0 0 auto;
  transition: transform 10s ease;
  width: auto;
  margin: 8px;
}

.move {
  position: relative;
  animation: moveAnimation 2s forwards; 
  transition: transform 1s ease;
}

/* Keyframes for the animation */
@keyframes moveAnimation {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

.move::before {
  content: '';
  position: absolute;
  top: 0;
  right: -1000px;
}

.move::after {
  content: '';
  top: 0; 
  right: 0;
}

  @media (min-width: 640px) {
    .title {
      margin-bottom: 0.3rem;
    }

    .padding-layout {
      padding-left: 3vw;
      padding-right: 3vw;
    }
  }

  @media (min-width: 1024px) {
    .title{
      margin-bottom: 0.75rem;
    }
  }

  @media (min-width: 1280px) {
    .padding-layout {
      padding-left: 3.5vw;
      padding-right: 3.5vw;
    }
  }
}